<div class="col-sm-1"></div>
<div class="col-sm-7 article text-light-blue">
    <p>{{background}}</p>
</div>
<div class="col-sm-4">

    <div class="sm-icons">
        <!--SOCIAL-MEDIA-ICONS-->
        <span class="line"></span>
        <ul>
            <li><a href="https://uk.linkedin.com/in/andrewpwarren" target="_blank"><img class="icons" src="./img/icons/linkedin.svg"></a></li>
            <li><a href="https://github.com/andypwarren" target="_blank"><img class="icons" src="./img/icons/github.svg"></a></li>
            <li><a href="https://twitter.com/andrewpwarren" target="_blank"><img class="icons" src="./img/icons/twitter.svg"></a></li>
        </ul>
    </div>
</div>

