<nav class="navbar navbar-default navbar-fixed-top" ng-class="section ===  'home' ? '' : 'no-transluncent-nav'">
    <a class="navbar-brand pull-left" href="#home" du-smooth-scroll du-scrollspy ng-if="section !== 'home'"><p>ANDREW WARREN</p></a>
    <ul class="nav navbar-nav pull-right">
        <li class="disabled"><a href="#home" du-smooth-scroll du-scrollspy><p>home</p></a></li>
        <li><a href="#about" du-smooth-scroll du-scrollspy><p>about</p></a></li>
        <li class="separator"></li>
        <li><a href="#projects" du-smooth-scroll du-scrollspy><p>projects</p></a></li>
        <li class="separator"></li>
        <li><a href="#experience" du-smooth-scroll du-scrollspy><p>experience</p></a></li>
        <li class="separator"></li>
        <li><a href="#contact" du-smooth-scroll du-scrollspy><p>contact</p></a></li>
    </ul>
</nav>
