.placeholder(@color) {
    ::-webkit-input-placeholder {color: @color};
    :-moz-placeholder {color: @color};
    ::-moz-placeholder {color: @color};
    :-ms-input-placeholder {color: @color};
}

.border-left(@color; @width: 2px) {
    border-left-color: @color;
    border-left-style: solid;
    border-left-width: @width;
}

.border-right(@color; @width: 2px) {
    border-right-color: @color;
    border-right-style: solid;
    border-right-width: @width;
}

.border-top(@color; @width: 2px) {
    border-top-color: @color;
    border-top-style: solid;
    border-top-width: @width;
}

.border-bottom(@color; @width: 2px) {
    border-bottom-color: @color;
    border-bottom-style: solid;
    border-bottom-width: @width;
}

.border-all(@color; @width: 2px) {
    border-color: @color;
    border-style: solid;
    border-width: @width;
}

.transition-color(@time) {
    -webkit-transition: background-color @time, color @time;
       -moz-transition: background-color @time, color @time;
         -o-transition: background-color @time, color @time;
            transition: background-color @time, color @time;
}

.transition-opacity(@time) {
    -webkit-transition: opacity @time;
       -moz-transition: opacity @time;
         -o-transition: opacity @time;
            transition: opacity @time;
}

.transition-bgcolor(@time) {
    -webkit-transition: background-color @time;
       -moz-transition: background-color @time;
         -o-transition: background-color @time;
            transition: background-color @time;
}

.transform-x(@amount) {
    -webkit-transform: translateX(@amount);
       -moz-transform: translateX(@amount);
        -ms-transform: translateX(@amount);
         -o-transform: translateX(@amount);
            transform: translateX(@amount);
}
